# Secrets and Environment Variables
.env
backend/.env
frontend/.env

# Dependencies
node_modules/
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# Local Databases (SQLite & Vector Stores)
*.db
*.sqlite
*.sqlite3
chroma_db_store/

# Builds & Outputs
dist/
build/

# IDE & System files
.vscode/
.idea/
.DS_Store
Thumbs.db

